<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open UV</title>
</head>
<body>
    <!-- header -->
    <%- include('partials/header.ejs') %>
    <!-- end of header -->

    <!-- uv index -->
    <div class="container">
    <% if(locals.data){ %>
        <h1>UV Index: <%= locals.uvIndex %> (<%= uvLevel %>) </h1>
        <h2>Max UV: <%= locals.uvMaxIndex %> at <%= locals.maxUV %></h2>

        <h3>Sunrise: <%=locals.sunrise%></h3>
        <h3>Sunset: <%= locals.sunset %></h3>
        <% } else if(locals.error){ %>
            <%= error %>
        <% } %>
    </div>
    <div class="div-box" >
        <% if(locals.data){ %>

    <!-- end of uv index -->

    <!-- safe time to every skin type -->
    <h4>Safe Exposure Times:</h4>
        <ul class="skin-list">
            <li><span>Skin Type 1:</span> Very fair, red/blonde hair, freckles. <span>Time Before Burn:</span> <%= data.safe_exposure_time.st1 %> minutes. Extreme caution, burn almost immediately</li>
            <li><span>Skin Type 2:</span> Fair skin, burns easily. <span>Time Before Burn:</span> <%= data.safe_exposure_time.st2 %> minutes. Use sunscreen, avoid midday sun</li>
            <li><span>Skin Type 3:</span> Light to light brown skin. <span>Time Before Burn:</span> <%= data.safe_exposure_time.st3 %> minutes. Sunscreen and shade highly recommended</li>
            <li><span>Skin Type 4:</span> Olive or medium brown skin. <span>Time Before Burn:</span> <%= data.safe_exposure_time.st4 %> minutes. Still at risk, especially face/shoulders</li>
            <li><span>Skin Type 5:</span> Dark brown skin. <span>Time Before Burn:</span> <%= data.safe_exposure_time.st5 %> minutes. Lower risk, but UV damage still occurs</li>
            <li><span>Skin Type 6:</span> Deeply pigmented dark skin. <span>Time Before Burn:</span> <%= data.safe_exposure_time.st6 %> minutes. Least risk of burning, but sunscreen still advised for long exposure</li>
        </ul>
        <% }else { %>
            <p>UV data not available. Please try again.</p>
          <% } %>
        <!-- end safe time to every skin type -->

    </div>
            
    <!-- footer -->
        <%- include('partials/footer.ejs') %>
    <!-- end of footer -->
</body>
</html>